<div class="directory-group list">
  <div class="list-numbers">
    {{#each numbers}}
    {{>record}}
    {{/each}}
  </div>
</div>

<!--<div class="directory-group control">
  <a onclick="window.location.href = '/add'">Add new number</a>
</div>-->

<button class="directory-group control">
  <a onclick="window.location.href = '/add'">Добавить</a>
</button>